#imagen{
    width: 250px; height: 250px;
    position: fixed;

}
body{
    background-color: #F9EDE1;
   
}
.caja1{
    background-color: white;
    width: 250px; height: 45px;
    position: absolute;
    right: 300px;
    top: 20px;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;

}
.cajaPrincipal {
    background-color: rgb(255, 255, 255);
    height: 524px; width: 647px;
    border-radius: 20px;
    position: absolute;
    top: 90px;
    right: 290px;

}
#ValidarTarjeta {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-radius: 30px;
    padding: 10px;
    position: absolute;
    top: 320px;
    right: 60px;

}

.tarjeta {
    background:radial-gradient( circle at 33% 100%,
    #f3aed4 4%, #F392b5 30%, #d92e7f 62%, #515ecf);
    width: 397px; height: 278px;
    border-radius: 30px;
    position: absolute;
    top: 20px;
    right: 450px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    /* display: none; */
}
.logo{
    width: 55px; height: 45px;
    position: relative;
    top: 40px;
    right: 70px;
    border-radius: 10px;
    
}
#NumeroT{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
    position: relative;
    top: 60px;
}
.NombreDeUsuario{
    position: absolute;
    top:195px;
    left: 25px;
    font-size: 20px;
}
.IngresoCVV{
    position:absolute;
    top: 170px;
    left: 25px;
}
.NumeroDeDocumento{
    position:absolute;
    top: 170px;
    left: 75px;
}
/* ESTILO FORMULARIO DONDE LLEVA LOS INPUTS */
.form{
    background-color: none;
    position: absolute;
    top: 100px;
    left: 250px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 30px;
}
/* ESTILO EN DONDE SE DILIGENCIAN LOS DATOS */
.input{
    padding: 10px;
    width: 300px;
    background-color: none;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 5px;
    margin: 15px;
 }

 /* ESTILO PAGINA TARJETA VALIDA */
#cajavalido {
    display: none; 
    background-color: rgb(255, 255, 255);
    height: 530px; width: 680px;
    border-radius: 20px;
    position: absolute;
    top: 90px;
    right: 390px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;

}
#imagen2 {
    width: 250px; height: 250px;
    position: relative;
    top: 40px;
    margin-bottom: 40px;
   
}
#Redireccionar {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-radius: 30px;
    padding: 10px;
    position: absolute;
    top: 400px;
    right: 150px;
}

/* ESTILO PAGINA TARJETA INVALIDA */

#cajaInvalido {
    /* display: none; */
    background: white;
    height: 530px; width: 680px;
    border-radius: 20px;
    position: absolute;
    top: 90px;
    right: 390px;;
    
}
 .tarjetaInvalida{
    width: 397px; height: 278px;
    border-radius: 30px;
    background:radial-gradient( circle at 33% 100%,
    #f3aed4 4%, #F392b5 30%, #d92e7f 62%, #515ecf);
    position: absolute;
    top: 30px;
    right: 135px;
 }

#text{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: red;
    position: absolute;
    top: 370px;
    left: 115px;
    z-index: 4;
}
/* Botón atrás */
#atras {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-radius: 30px;
    padding: 10px;
    position: absolute;
    top: 450px;
    right: 295px;
}
/* imagen de invalido  */
 #invalido{
    width: 50px; height:50px;
    position: absolute;
    top: 330px;
    left: 320px;

 }

 #footer{
    width: 1500px; height:50px;
    position: absolute;
    top: 650px;
    left: 10px;
    color: white;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
     
 }